main h2 {
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
}

@media (max-width: 1000px) {
  header h1 {
    font-size: 3rem;
  }
  main h1 {
    font-size: 6rem;
  }
  main h3 {
    font-size: 3rem;
  }
  main h2 {
    font-size: 4rem;
  }
  main li {
    font-size: 2.5rem;
  }
  main p {
    font-size: 2.5rem;
  }
}
